@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,600);

body {
	font-family: 'Roboto', sans-serif !important;
	background-color: black !important;
	background-image: url('utils/background.png') !important;
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: right;
	background-size: cover !important;
}

#CONTENT_DIV_ROW {
	height:calc(100vh - 56px - 32px);
}

#TIME {
	position:absolute; top:10px;
	left:calc(50vw - 20px);
}

div {
	color: white;
}

select {
	color: white !important;
	background-color: #1f1f1f !important;
}

input {
	color: white !important;
	background-color: #1f1f1f !important;
}

.navbar {
	font-family: 'Games', sans-serif;
	background-color: rgba(0, 0, 0, 0) !important;
}

.button-deck {
	height: 70px !important;
	background-color: transparent !important;
	font-family: 'Games', sans-serif;
	font-size: 150%;
	text-align: center !important;
}

@font-face {
  font-family: 'password';
  font-style: normal;
  font-weight: 400;
  src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
}

input.key {
  font-family: 'password';
}

button {
	white-space: nowrap;
}

.container {
    margin: 0px;
    padding: 0px;
    float: left;
    text-align: center;
    max-width: 20px
}
.nav-link {
    cursor: pointer !important;
}

.toast-container {
	position: absolute;
	bottom: 65px;
	left:calc((50vw - 350px) / 2)
}

$bg: #434d5a;

[id*=flat-slider].ui-slider,
[id*=flat-slider].ui-slider .ui-slider-pip .ui-slider-line {
    background: lighten($bg, 25%);
}

[id*=flat-slider].ui-slider .ui-slider-handle .ui-slider-tip:after {
    border-left-color: #434d5a;
}


[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-hover, 
[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-focus, 
[id*=flat-slider].ui-slider .ui-slider-handle.ui-state-active {
      border-color: white; }
